<div class="jumbotron text-center">
  <h1 class="display-5">
    Implement Reactive Form with Conditional Field Validation
  </h1>
</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <label for="userType">User Type:</label>
  <select id="userType" formControlName="userType">
    <option *ngFor="let type of userTypes" [value]="type">{{ type }}</option>
  </select>
  <div class="error-msg" *ngIf="userForm.get('userType')?.invalid && userForm.get('userType')?.touched">
    User type is required.
  </div>
<div>

  <label for="adminCode">Admin Code:</label>
  <input id="adminCode" formControlName="adminCode" type="text">
  <div class="error-msg" *ngIf="userForm.get('adminCode')?.invalid && userForm.get('adminCode')?.touched">
    Admin Code is required.
  </div>

  <label for="managerId">Manager ID:</label>
  <input id="managerId" formControlName="managerId" type="text">
  <div class="error-msg" *ngIf="userForm.get('managerId')?.invalid && userForm.get('managerId')?.touched">
    Manager ID is required.
  </div>

  <label for="employeeId">Employee ID:</label>
  <input id="employeeId" formControlName="employeeId" type="text">
  <div class="error-msg" *ngIf="userForm.get('employeeId')?.invalid && userForm.get('employeeId')?.touched">
    Employee ID is required.
  </div>
</div>

  <button type="submit">Submit</button>
</form>
